@types/*

**/cartridge/templates/*
**/cartridge/static/*
**/*.scss
**/*.json
**/*.properties
**/*.xml
**/*.jpg
**/*.gif

test/*
metadata/*
documentation/*

tsconfig.json
webpack.config.js
README.md
Makefile
